In [31]:
import pandas as pd
import numpy as np

In [32]:
import os

In [33]:
labels = ['Bicycle', 'Boat', 'Bottle', 'Bus', 'Car', 'Cat', 'Chair', 'Cup', 'Dog', 'Motorbike', 'People', 'Table']

In [34]:
cols = ['name','Bicycle', 'Boat', 'Bottle', 'Bus', 'Car', 'Cat', 'Chair', 'Cup', 'Dog', 'Motorbike', 'People', 'Table']

In [4]:
# Generating labels for train data

In [36]:
data_dir = 'C:\\Users\\91882\\Desktop\\PA review 1\\Groundtruth\\ExDark_Annno\\train\\'

In [37]:
data = pd.DataFrame(columns=cols)

In [38]:
for lbl in labels:
    for img in os.listdir(data_dir+lbl):
        path_to_file = data_dir+lbl+'\\'+img
        file = open(path_to_file, 'r')
        Lines = file.readlines()
        Lines.pop(0)
        row = {'name': img, 'Bicycle':0, 'Boat':0, 'Bottle':0, 'Bus':0, 'Car':0, 'Cat':0, 'Chair':0, 'Cup':0, 'Dog':0, 'Motorbike':0, 'People':0, 'Table':0}  
        for line in Lines:
            obj = line.split(' ')[0]
            if(row[obj]==0):
                row[obj]=row[obj]+1
        data = data.append(row,ignore_index=True)

In [39]:
data

,name,Bicycle,Boat,Bottle,Bus,Car,Cat,Chair,Cup,Dog,Motorbike,People,Table
0,2015_00001.png.txt,1,0,0,0,0,0,0,0,0,0,0,0
1,2015_00002.png.txt,1,0,0,0,1,0,0,0,0,0,0,0
2,2015_00003.png.txt,1,0,0,1,0,0,1,0,0,0,0,0
3,2015_00004.jpg.txt,1,0,0,0,0,0,0,0,0,0,0,0
4,2015_00005.jpg.txt,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5883,2015_07251.jpg.txt,0,0,0,0,0,0,1,0,0,0,1,1
5884,2015_07252.jpg.txt,0,0,0,0,0,0,0,0,0,0,0,1
5885,2015_07253.jpg.txt,0,0,0,0,0,0,1,0,0,0,0,1
5886,2015_07254.jpg.txt,0,0,0,0,0,0,1,0,0,0,0,1
5887,2015_07255.jpg.txt,0,0,0,0,0,0,1,0,0,0,0,1

In [44]:
data.to_csv('train.csv',index=False)

In [45]:
df = pd.read_csv('train.csv')

In [46]:
df

,name,Bicycle,Boat,Bottle,Bus,Car,Cat,Chair,Cup,Dog,Motorbike,People,Table
0,2015_00001.png.txt,1,0,0,0,0,0,0,0,0,0,0,0
1,2015_00002.png.txt,1,0,0,0,1,0,0,0,0,0,0,0
2,2015_00003.png.txt,1,0,0,1,0,0,1,0,0,0,0,0
3,2015_00004.jpg.txt,1,0,0,0,0,0,0,0,0,0,0,0
4,2015_00005.jpg.txt,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5883,2015_07251.jpg.txt,0,0,0,0,0,0,1,0,0,0,1,1
5884,2015_07252.jpg.txt,0,0,0,0,0,0,0,0,0,0,0,1
5885,2015_07253.jpg.txt,0,0,0,0,0,0,1,0,0,0,0,1
5886,2015_07254.jpg.txt,0,0,0,0,0,0,1,0,0,0,0,1
5887,2015_07255.jpg.txt,0,0,0,0,0,0,1,0,0,0,0,1

In [52]:
# Generating labels for test data

In [53]:
data_dir = 'C:\\Users\\91882\\Desktop\\PA review 1\\Groundtruth\\ExDark_Annno\\test\\'

In [54]:
data = pd.DataFrame(columns=cols)

In [55]:
for lbl in labels:
    for img in os.listdir(data_dir+lbl):
        path_to_file = data_dir+lbl+'\\'+img
        file = open(path_to_file, 'r')
        Lines = file.readlines()
        Lines.pop(0)
        row = {'name': img, 'Bicycle':0, 'Boat':0, 'Bottle':0, 'Bus':0, 'Car':0, 'Cat':0, 'Chair':0, 'Cup':0, 'Dog':0, 'Motorbike':0, 'People':0, 'Table':0}  
        for line in Lines:
            obj = line.split(' ')[0]
            if(row[obj]==0):
                row[obj]=row[obj]+1
        data = data.append(row,ignore_index=True)

In [56]:
data

,name,Bicycle,Boat,Bottle,Bus,Car,Cat,Chair,Cup,Dog,Motorbike,People,Table
0,2015_00523.jpg.txt,1,0,0,0,0,0,0,0,0,0,0,0
1,2015_00524.jpg.txt,1,0,0,0,1,0,0,0,0,0,0,0
2,2015_00525.jpg.txt,1,0,0,0,0,0,0,0,0,0,0,0
3,2015_00526.jpg.txt,1,0,0,0,0,0,0,0,0,0,0,0
4,2015_00527.jpg.txt,1,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,2015_07352.png.txt,0,0,0,0,0,0,1,0,0,0,1,1
1466,2015_07353.png.txt,0,0,0,0,0,0,0,0,0,0,1,1
1467,2015_07354.jpg.txt,0,0,0,0,0,0,0,0,0,0,1,1
1468,2015_07355.jpg.txt,0,0,0,0,0,0,1,0,0,0,0,1
1469,2017_07358.jpg.txt,0,0,0,0,0,0,1,0,0,0,0,1

In [57]:
data.to_csv('test.csv',index=False)

In [59]:
df = pd.read_csv('test.csv')
df

,name,Bicycle,Boat,Bottle,Bus,Car,Cat,Chair,Cup,Dog,Motorbike,People,Table
0,2015_00523.jpg.txt,1,0,0,0,0,0,0,0,0,0,0,0
1,2015_00524.jpg.txt,1,0,0,0,1,0,0,0,0,0,0,0
2,2015_00525.jpg.txt,1,0,0,0,0,0,0,0,0,0,0,0
3,2015_00526.jpg.txt,1,0,0,0,0,0,0,0,0,0,0,0
4,2015_00527.jpg.txt,1,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,2015_07352.png.txt,0,0,0,0,0,0,1,0,0,0,1,1
1466,2015_07353.png.txt,0,0,0,0,0,0,0,0,0,0,1,1
1467,2015_07354.jpg.txt,0,0,0,0,0,0,0,0,0,0,1,1
1468,2015_07355.jpg.txt,0,0,0,0,0,0,1,0,0,0,0,1
1469,2017_07358.jpg.txt,0,0,0,0,0,0,1,0,0,0,0,1